{% extends "index.html" %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="/">Strona główna</a></li>
        <li class="active"><a href="/uploads/{{ filename }}">{% block title %}{{ filename }}{% endblock %}</a></li>
    </ul>
    <div id="main" class="main panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Plot {{ filename }}</h3></div>
        <div class="panel-body">
		<section>
		<div class="plot-bokeh center-block">
        {% if tag1 %}
            {{ tag1 | safe }}
        {% endif %}
		</div>
		</section>
		<section>
		<div class="plot-bokeh center-block">
        {% if tag2 %}
            {{ tag2 | safe }}
        {% endif %}
		</div>
		</section>
		<section>
		<div class="plot-bokeh center-block">
        {% if tag3 %}
            {{ tag3 | safe }}
        {% endif %}
		</div>
		</section>
		</div>
	</div>
{% endblock content %}